---
import "../styles/global.css"
---
<footer>
<div id="text">
    <h3>
        Fundacja Impuls Dla Młodych
    </h3>
    <p>
        <i>Henryka Sucharskiego 49<br>
        61-419 Poznań<br>
        KRS: 0000909750<br>
        NIP: 7831839163</i>
    </p>
</div>
<div id="loga">
    <a href="https://www.facebook.com/fundacja.impulss"><i class="fa-brands fa-facebook fa-xl"></i></a>
    <a href="https://www.instagram.com/fundacjaimpuls"><i class="fa-brands fa-instagram fa-xl"></i></a>
    <a href="https://twitter.com/fundacjaimpuls"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
    <a href="https://www.youtube.com/@FundacjaImpuls"><i class="fa-brands fa-youtube fa-xl"></i></a>
    <a href="https://www.tiktok.com/@fundacja.impuls?_t=8fys2ama5jn&_r=1"><i class="fa-brands fa-tiktok fa-xl"></i></a>
</div>
<div id="wesprzyj">
    <h3>Wesprzyj nas!</h3>
    <p>Wesprzyj nas przez buycoffee.to</p>
    <a href="https://fundacjaimpuls.pl/wspieraj/"><p>Wpłać darowiznę</p></a>
</div>
</footer>
<style>
    
    footer{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #171717;
    }
    div{
        width:30%;
        height:15%;
    }   
    #loga{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        margin:auto;
        padding:auto;
    }
    #text{
        margin:auto;
        padding:auto;
    }
    #wesprzyj{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding:auto;
    }
    h3{
        color:white;
        font-weight:700;
    }
    a{
        text-decoration: none;
    }
</style>