---
import "../styles/global.css";
import { Image } from "astro:assets"
import iplogo from "../img/logofundacji.svg"
---
<header>
    <Image src={iplogo} alt="Logo Fundacji" id="ip-logo"/>
    <h1>Fundacja Impuls dla Młodych</h1>
</header>
<style>
    header{
        width:94vw;
        height:10%;
        display:flex;
        justify-content: space-between;
        background-color: #171717;
        padding: 0.5rem 2vw 0.5rem 2vw;
        margin:0;
    }
   #ip-logo{
    width: 12rem;
    height: 4rem;
   } 
   h1{
    color: white;
   }
</style>  